@import "tailwindcss";


body {
  overflow-x: hidden;
}
#tiltDiv {
  width: fit-content;
}

#page1-in {
  position: relative;
  perspective: 1200px;
}

#section2 {
  position: relative;
  perspective: 2000px;
}

.rotateText {
  transform-origin: 100% 70%;
}
